
#sibebar-nav {
    background-color : rgb(37,52,74);
    height: 100vh;
    padding:0px;
}

#vijay > li > a:hover {
    background-color: rgb(37,52,90,0.9);

}

#wrapper {
    
    padding: 0px;
    height:100vh;
}


.toolbar {
    background-color:rgb(238,238,238);
    border-bottom: 1px solid gray;
    height : 13vh;

}

.dashboard {
    background-color: rgb(238,238,238);
    height:87vh;
    overflow-y: scroll
}

#dashboard-row {
    margin-left: 0px;
}

.sidebar-toggle {
    background-color: rgb(238,238,238);
    border-bottom: 1px solid gray;
    height : 13vh;
}

.sidebar-menu-item {
    color:#18e618;
    
}
.sidebar-menu-button {
    background-color: rgb(37,52,74);;
}
  
.yyy  {
    background-color: orangered;
}

.sidebar-menu-header {
    margin-bottom: 2%;
}

.sidebar-menu-header-item {
    color:orangered;
}